<table class="table">
    <tbody>
    <tr>
        <td> Высота </td>
        <td> {{product.height}} </td>
    </tr>
        <tr>
        <td> Ширина </td>
        <td> {{product.width}} </td>
    </tr>
        <tr>
        <td> Глубина </td>
        <td> {{product.depth}} </td>
    </tr>
        <tr>
        <td> Объем холодильной камеры </td>
        <td> {{product.volume_of_the_refrigerating_chamber}} </td>
    </tr>
    <tr>
        <td>  Объем морозильной камеры </td>
        <td> {{product.freezer_capacity}} </td>
    </tr>
        <tr>
        <td> Система No Frost </td>
        <td> {{product.no_frost}} </td>
    </tr>
        </tr>
        <tr>
        <td> Полок в холодильной камере </td>
        <td> {{product.shelves_refrigerating}} </td>
    </tr>
        </tr>
        <tr>
        <td> Полок на двери хол. камеры </td>
        <td> {{product.shelves_freezer}} </td>
    </tr>
        </tr>
        <tr>
        <td> Вес </td>
        <td> {{product.weight}} </td>
    </tr>
    </tbody>
</table>