<table class="table">
    <tbody>
    <tr>
        <td> Высота </td>
        <td> {{product.height}} </td>
    </tr>
        <tr>
        <td> Ширина </td>
        <td> {{product.width}} </td>
    </tr>
        <tr>
        <td> Глубина </td>
        <td> {{product.depth}} </td>
    </tr>
        <tr>
        <td> Количество конфорок </td>
        <td> {{product.burners}} </td>
    </tr>
    <tr>
        <td>  Защита от детей </td>
        <td> {{product.protection_from_children}} </td>
    </tr>
        <tr>
        <td> Система No Frost </td>
        <td> {{product.body}} </td>
    </tr>
        </tr>
        <tr>
        <td> Материал варочной поверхности </td>
        <td> {{product.shelves_refrigerating}} </td>
    </tr>
        </tr>
        <tr>
        <td> Цвет </td>
        <td> {{product.color}} </td>
    </tr>
        </tr>
        <tr>
        <td> Вес </td>
        <td> {{product.weight}} </td>
    </tr>
    </tbody>
</table>